<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gzkj.easygroupmeal">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- bugly -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.JoinCompanyActivity" />
        <activity android:name=".activity.LoginRegisterActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity android:name=".activity.CreateTeamActivity" />
        <activity android:name=".activity.AdministrationActivity" />
        <activity android:name=".activity.AddAdministratorsActivity" />
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskMessageActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.AddScheduleActivity" />
        <activity android:name=".activity.UrgentTaskActivity" />
        <activity android:name=".activity.GeneralTaskActivity" />
        <activity android:name=".activity.AddNoticeActivity" />
        <activity android:name=".activity.AttendanceManagementAcitivity" />
        <activity android:name=".activity.AttendanceDateActivity" />
        <activity android:name=".activity.LeaveActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AccountManagementActivity" />
        <activity
            android:name=".activity.PersonalDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.InvitationActivity" />
        <activity android:name=".activity.MapActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3034e6924fae1fd08ca8bb1edd7a8015"> <!-- 高德地图 -->
        </meta-data>

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.UpdateTaskActivity" />

        <service android:name=".receiver.JobWakeUpService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="gzkj.easygroupmeal" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false"
            tools:node="replace">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <action android:name="android.intent.action.USER_PRESENT" />

                <category android:name="gzkj.easygroupmeal" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utli.NetBroadcastReceiver" />

        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".receiver.InitIntentService" />

        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ForgetPwdActivity" />
        <activity android:name=".activity.SchoolActivity" />
        <activity android:name=".activity.ApplyActivity" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.TeamStaffActivity" />

        <provider
            android:name="com.tencent.bugly.beta.utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <activity android:name=".activity.SelectDateActivity" />
        <activity android:name=".activity.LeaveAuditActivity" />
        <activity android:name=".activity.MyLeaveActivity"></activity>
    </application>

</manifest>